<div>
<div class="card text-white bg-primary mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">primary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">secondary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">success card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">danger card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-warning mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">warning card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-info mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">info card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-light mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">light card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">dark card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
