<div>
<div class="card border-primary mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-primary">
      <h4 class="card-title">primary card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card border-secondary mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-secondary">
      <h4 class="card-title">secondary card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card border-success mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-success">
      <h4 class="card-title">success card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card border-danger mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-danger">
      <h4 class="card-title">danger card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card border-warning mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-warning">
      <h4 class="card-title">warning card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card border-info mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-info">
      <h4 class="card-title">info card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card border-light mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-light">
      <h4 class="card-title">light card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
  <div class="card border-dark mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-dark">
      <h4 class="card-title">dark card title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
</div>
