<div class="card-group">
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
      <div class="card-footer">
        <p class="card-text">Text</p>
      </div>

    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
      <div class="card-footer">
        <p class="card-text">Text</p>
      </div>

    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
      <div class="card-footer">
        <p class="card-text">Text</p>
      </div>

    </div>
  </div>
