<div class="card-deck">
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text"><small class="text-muted">Text</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text"><small class="text-muted">Text</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text"><small class="text-muted">Text</small></p>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Text</small>
      </div>

    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Text</small>
      </div>

    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Text</small>
      </div>

    </div>
  </div>
