<div class="card">
    <div class="card-header">
        Header
    </div>
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Text</p>
    </div>
  </div>
<div class="card">
    <h4 class="card-header">Header</h4>
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Text</p>
    </div>
</div>
<div class="card">
    <div class="card-header">Header</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Text</p>
        <footer class="blockquote-footer">Text <cite title="title">Text</cite></footer>
      </blockquote>
    </div>
  </div>
<div class="card text-center">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Title</h4>
      <p class="card-text">Text</p>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
