<div class="card-columns">
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card">
    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center">
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img card-img-top" src="..." alt="foo">
    </div>
    <div class="card text-right">
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
        <p class="card-text">Text</p>
      </div>
    </div>
  </div>
